* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

@font-face {
  font-family: 'Renogare';
  src: url(../assets/fonts/Renogare-Regular.otf); }

body {
  background-color: #14181B;
  font-family: 'Renogare';
  font-weight: 100;
  font-style: normal; }

/*-----------HEADER--------------*/
header .header-color {
  background-color: #3E4346 !important; }
  header .header-color .container-fluid {
    margin-right: 25px !important; }
    header .header-color .container-fluid a .logo__avion {
      width: 150px;
      height: 150px; }
    header .header-color .container-fluid div ul li .nav-link {
      color: #CDF6FF !important;
      margin: 0%;
      margin-right: 10px;
      margin-left: 10px;
      text-decoration: none;
      list-style-type: none;
      font-size: 20px;
      font-weight: 600;
      color: #CDF6FF; }
      header .header-color .container-fluid div ul li .nav-link:hover {
        color: #14181B !important; }
    header .header-color .container-fluid div form .form-control-index {
      background-color: #14181B !important;
      border: 1px solid #14181B;
      color: #CDF6FF !important; }
      header .header-color .container-fluid div form .form-control-index::placeholder {
        color: #CDF6FF; }
    header .header-color .container-fluid div form .boton-color-index {
      color: #14181B !important;
      border-color: #CDF6FF !important;
      background-color: #CDF6FF !important; }

/*------------INDEX-----------*/
main .inicio {
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/muelle.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  main .inicio .inicio__titulo {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    padding-top: 300px;
    color: #CDF6FF; }
  main .inicio .inicio__titulo__parrafo {
    text-align: center;
    font-weight: 300;
    padding-top: 10px;
    font-size: 20px;
    color: #CDF6FF;
    width: 50%;
    margin-left: 25%; }
  main .inicio .inicio__boton {
    text-align: center;
    padding: 20px; }
    main .inicio .inicio__boton a {
      text-decoration: none;
      color: #14181B;
      background-color: #CDF6FF;
      padding: 10px;
      border: 1px solid #CDF6FF;
      font-weight: 600;
      border-radius: 15px; }
      main .inicio .inicio__boton a:hover {
        color: #CDF6FF;
        background-color: #14181B;
        border: 1px solid #14181B; }

main section div .recomendacion__titulo {
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  font-weight: 600;
  color: #CDF6FF; }

main section div .recomendacion__parrafo {
  font-size: 23px;
  text-decoration: none;
  font-weight: 200;
  text-align: center;
  color: #CDF6FF; }

main section div .recomendacion__enlace:hover {
  color: #858585; }

main section .carousel-index {
  text-align: center !important; }
  main section .carousel-index div .img-carousel {
    width: 100%;
    height: 70vh;
    object-fit: contain; }
  main section .carousel-index div .carousel-boton-index a {
    text-decoration: none;
    color: #14181B;
    background-color: #CDF6FF;
    padding: 5px;
    border-radius: 13px; }
    main section .carousel-index div .carousel-boton-index a:hover {
      background-color: #14181B;
      color: #CDF6FF; }

main section .carousel-control-prex-index {
  left: 12%; }

main section .carousel-control-next-index {
  right: 12%; }

main section .index__hr {
  border-color: #CDF6FF;
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%; }

main section .index__titulo__paquetes {
  text-align: center;
  font-size: 30px;
  color: #CDF6FF;
  margin-top: 30px; }

main section .flex__conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto; }
  main section .flex__conteiner .grid__conteiner__paquete-viajes-argentina {
    border: 2px solid #3E4346;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 800px;
    box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75); }
    main section .flex__conteiner .grid__conteiner__paquete-viajes-argentina .grid__items {
      background-color: #3E4346; }
    main section .flex__conteiner .grid__conteiner__paquete-viajes-argentina .grid__texto-encima {
      position: relative; }
      main section .flex__conteiner .grid__conteiner__paquete-viajes-argentina .grid__texto-encima h3 {
        position: absolute;
        color: white;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        margin: 0%; }
      main section .flex__conteiner .grid__conteiner__paquete-viajes-argentina .grid__texto-encima .excursiones__img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

main section .excursiones__boton__paquete-viajes {
  height: 200px;
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px;
  background-color: #14181b;
  position: relative;
  bottom: 53.7vh;
  left: 39vw;
  border-radius: 15px; }
  main section .excursiones__boton__paquete-viajes p {
    color: #CDF6FF;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px; }
  main section .excursiones__boton__paquete-viajes a {
    text-decoration: none;
    background-color: #CDF6FF;
    color: #14181B;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px; }
    main section .excursiones__boton__paquete-viajes a:hover {
      color: #14181B;
      background-color: #858585;
      border: 1px solid #858585; }

main section .flex__conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto; }
  main section .flex__conteiner .grid__conteiner__paquete-viajes-chile {
    border: 2px solid #3E4346;
    margin-top: -120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 800px;
    box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75); }
    main section .flex__conteiner .grid__conteiner__paquete-viajes-chile .grid__items {
      background-color: #3E4346; }
    main section .flex__conteiner .grid__conteiner__paquete-viajes-chile .grid__texto-encima {
      position: relative; }
      main section .flex__conteiner .grid__conteiner__paquete-viajes-chile .grid__texto-encima h3 {
        position: absolute;
        color: white;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        margin: 0%; }
      main section .flex__conteiner .grid__conteiner__paquete-viajes-chile .grid__texto-encima .excursiones__img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

main section .excursiones__boton__paquete-viajes {
  height: 200px;
  width: 21%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px;
  background-color: #14181b;
  position: relative;
  bottom: 53.7vh;
  left: 39vw;
  border-radius: 15px; }
  main section .excursiones__boton__paquete-viajes p {
    color: #CDF6FF;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px; }
  main section .excursiones__boton__paquete-viajes a {
    text-decoration: none;
    background-color: #CDF6FF;
    color: #14181B;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px; }
    main section .excursiones__boton__paquete-viajes a:hover {
      color: #14181B;
      background-color: #858585;
      border: 1px solid #858585; }

/*----------VUELOS----------*/
main .vuelos__h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 15px;
  color: #CDF6FF; }

/*----------ALOJAMIENTO----------*/
/*----------EXCURSIONES----------*/
/*-------SOBRE NOSOTROS--------*/
/*-----------MEDIA QUERIES---------*/
/*----------FOOTER------------*/
footer {
  background-color: #3E4346;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer .logo__avion {
    width: 150px;
    height: 150px; }
  footer div {
    margin-right: 30px; }
    footer div .facebook {
      width: 64px;
      height: 64px; }
    footer div .instagram {
      width: 64px;
      height: 64px; }
    footer div .twitter {
      width: 64px;
      height: 64px; }
