* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}


@font-face {
    font-family: 'Renogare';
    src: url(../assets/fonts/Renogare-Regular.otf);
}

body {
    background-color: #14181B;
    font-family: 'Renogare';
    font-weight: 100;
    font-style: normal;
}


/*------------HEADER------------*/
.header-color {
    background-color: #3E4346 !important;
}

.form-control-index {
    background-color: #14181B !important;
    border: 1px solid #14181B;
    color: #CDF6FF !important;
}

.form-control-index::placeholder {
    color: #CDF6FF;
}

.boton-color-index {
    color: #14181B !important;
    border-color: #CDF6FF !important;
    background-color: #CDF6FF !important;
}

.nav-link {
    color: #CDF6FF !important;
    margin: 0%;
    margin-right: 10px;
    margin-left: 10px;
}

.logo__avion {
    width: 150px;
    height: 150px;
}

.container-fluid {
    margin-right: 25px !important;
}

header nav ul li a {
    text-decoration: none;
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    color: #CDF6FF;
    margin: 20px;
}

header nav ul li a:hover {
    color: #14181B !important;
}

.inicio {
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/muelle.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*------------INDEX-----------*/


.inicio__titulo {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    padding-top: 300px;
    color: #CDF6FF;
}

.inicio__titulo__parrafo {
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    font-size: 20px;
    color: #CDF6FF;
    width: 50%;
    margin-left: 25%;
}

.inicio__boton {
    text-align: center;
    padding: 20px;
}

.inicio__boton a {
    text-decoration: none;
    color: #14181B;
    background-color: #CDF6FF;
    padding: 10px;
    border: 1px solid #CDF6FF;
    font-weight: 600;
    border-radius: 15px;
}

.inicio__boton a:hover {
    color: #CDF6FF;
    background-color: #14181B;
    border: 1px solid #14181B;
}

.recomendacion__titulo {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
    color: #CDF6FF;
}

.recomendacion__parrafo {
    font-size: 23px;
    text-decoration: none;
    font-weight: 200;
    text-align: center;
    color: #CDF6FF;
}

.img-carousel {
    width: 100%;
    height: 70vh;
    object-fit: contain;
}

.carousel-index {
    text-align: center !important;
}

.carousel-control-prex-index {
    left: 12%;
}

.carousel-control-next-index {
    right: 12%;
}

.carousel-boton-index a {
    text-decoration: none;
    color: #14181B;
    background-color: #CDF6FF;
    padding: 5px;
    border-radius: 13px;
}

.carousel-boton-index a:hover {
    background-color: #14181B;
    color: #CDF6FF;
}

.viajes__ofertas {
    display: flex;
    justify-content: center;
}

.flex__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.index__hr {
    border-color: #CDF6FF;
    margin-top: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.index__titulo__paquetes {
    text-align: center;
    font-size: 30px;
    color: #CDF6FF;
    margin-top: 30px;
}

.grid__conteiner__paquete-viajes-argentina {
    border: 2px solid #3E4346;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 800px;
    box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
}

.grid__conteiner__paquete-viajes-chile {
    border: 2px solid #3E4346;
    margin-top: -120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 800px;
    box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
}

.grid__conteiner {
    border: 2px solid #3E4346;
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    grid-auto-rows: 350px;
}

.grid__texto-encima {
    position: relative;
}

.grid__texto-encima h3 {
    position: absolute;
    color: white;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 0%;
}

.excursiones__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.excursiones__boton__paquete-viajes {
    height: 200px;
    width: 21%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    background-color: #14181b;
    position: relative;
    bottom: 53.7vh;
    left: 39vw;
    border-radius: 15px;
}


.excursiones__boton__paquete-viajes p {
    color: #CDF6FF;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}


.excursiones__boton__paquete-viajes p a {
    text-decoration: none;
    background-color: #CDF6FF;
    color: #14181B;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

.excursiones__boton__paquete-viajes p a:hover {
    color: #14181B;
    background-color: #858585;
    border: 1px solid #858585;
}

.paquete__viaje-chile {
    margin-top: -120px;
}





/*----------VUELOS----------*/

.vuelos__h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    padding-top: 15px;
    color: #CDF6FF;
}

.card-vuelos {
    background-color: #14181B;
    border: 2px solid #3E4346;
    margin: 0 auto;
    margin-right: 250px;
    border-radius: 35px;
}

.card-vuelos-contrario {
    background-color: #14181B;
    border: 2px solid #3E4346;
    margin: 0 auto;
    margin-left: 250px;
    border-radius: 35px;
}

.bordes-img-vuelos {
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
}

.bordes-img-vuelos-contrario {
    border-bottom-right-radius: 35px;
    border-top-right-radius: 35px;
}

.card-body-vuelos {
    width: 100%;
    text-align: center;
}

.card-vuelos-titulo {
    font-size: 25px;
    margin-bottom: 10px;
    color: #CDF6FF;
}

.card-texto-vuelos {
    color: #858585;
    letter-spacing: 0.30px;
}

.vuelos__precio strong {
    font-size: 25px;
    color: #CDF6FF;
}

.card-body-vuelos a {
    background-color: #CDF6FF;
    padding: 10px;
    text-decoration: none;
    color: #14181B;
    text-align: center;
    border-radius: 15px;
}

.card-body-vuelos a:hover {
    color: #14181B;
    background-color: #858585;
    border: 1px solid #858585;
}

.buenosaires {
    width: 100%;
    height: 100%;
}

.montevideo {
    width: 100%;
    height: 100%;
}

.riodejaneiro {
    width: 100%;
    height: 100%;
}

.santiagodechile {
    width: 100%;
    height: 100%;
}

.tokyo {
    width: 100%;
    height: 100%;
}

.madrid {
    width: 100%;
    height: 100%;
}

.venecia {
    width: 100%;
    height: 100%;
}



/*----------ALOJAMIENTO----------*/

.alojamiento__h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    color: #CDF6FF;
}

.col-lg-6 {
    padding: 0% !important;
}

.card-alojamiento-ultima {
    margin: 0% auto;
}

.card-alojamiento {
    margin: 8% !important;
    background-color: #3E4346;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.card-body-alojamiento {
    padding: 0% !important;
    text-align: center;
}

.card-body img {
    border-top-left-radius: 30px;
}

.card-alojamiento-titulo {
    color: #CDF6FF;
    padding: 15px;
    font-weight: 600;
    font-size: 25px;
}

.alojamiento__texto {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    color: #858585;
}

.card-body-alojamiento a {
    margin-bottom: 10px;
    background-color: #CDF6FF;
    color: #14181B;
    border: #CDF6FF;
    border-radius: 15px;
}

.card-body-alojamiento a:hover {
    color: #CDF6FF;
    background-color: #14181B;
    border: 1px solid #14181B;
}

.boton-color-alojamiento {
    background-color: #CDF6FF;
    color: #14181B;
}

.alojamiento__precio {
    font-size: 25px;
    padding-bottom: 30px;
    color: #CDF6FF;
}


/*----------EXCURSIONES----------*/


.excursiones__h1 {
    color: #CDF6FF;
    text-align: center;
    padding: 15px;
    font-size: 30px;
}

.flex__conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.grid__conteiner {
    border: 2px solid #3E4346;
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    grid-auto-rows: 350px;
}

.grid__items {
    background-color: #3E4346;
}

.excursiones__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.excursiones__bloque-texto {
    border: 2px solid #3E4346;
    grid-column: 1 / 4;
    grid-row: 3;
}

.excursiones__bloque-texto-japon {
    border: 2px solid #3E4346;
    grid-column: 1 / 4;
    grid-row: 3;
}

.excursiones__bloque-texto h2 {
    text-align: center;
    padding: 15px;
    color: #CDF6FF;
    font-size: 25px;
}

.excursiones__bloque-texto-japon h2 {
    text-align: center;
    padding: 15px;
    color: #CDF6FF;
    font-size: 25px;
}

.excursiones__texto {
    font-size: 20px;
    line-height: 20px;
    color: #858585;
    margin-bottom: 20px;
    letter-spacing: -0.50px;
}


.excursiones__img__buenosaires-uno {
    grid-column: 1 / 3;
}

.excursiones__img__buenosaires-cuatro {
    grid-column: 3;
    grid-row: 1 / 3;
}

.excursiones__bandera-argentina {
    object-fit: fill;
}

.excursiones__boton {
    height: 200px;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    background-color: #14181b;
    position: relative;
    bottom: 500px;
    left: 68.7%;
    border-radius: 15px;
}

.excursiones__boton p {
    color: #CDF6FF;
    text-align: center;
    font-size: 25px;
}


.excursiones__boton p a {
    text-decoration: none;
    background-color: #CDF6FF;
    color: #14181B;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

.excursiones__boton p a:hover {
    color: #14181B;
    background-color: #858585;
    border: 1px solid #858585;
}

.grid__conteiner-chile {
    border: 2px solid #3E4346;
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    grid-auto-rows: 350px;
    margin-top: -120px;
}

.excursiones__img__chile-uno {
    grid-column: 2/ 3;
    grid-row: 1;
}

.excursiones__img__chile-tres {
    grid-column: 2 / 4;
}

.excursiones__img__chile-cuatro {
    grid-row: 1 / 3;
    grid-column: 1;
}

.excursiones__boton-chile {
    height: 200px;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    background-color: #14181b;
    position: relative;
    bottom: 500px;
    left: 15.1%;
    border-radius: 15px;
}

.excursiones__boton-chile p {
    color: #CDF6FF;
    text-align: center;
    font-size: 25px;
}


.excursiones__boton-chile p a {
    text-decoration: none;
    background-color: #CDF6FF;
    color: #14181B;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

.excursiones__boton-chile p a:hover {
    color: #14181B;
    background-color: #858585;
    border: 1px solid #858585;
}

.grid__conteiner-japon {
    border: 2px solid #3E4346;
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1.5fr);
    grid-auto-rows: 350px;
    margin-top: -120px;
}

.excursiones__img__japon-uno {
    grid-column: 1;
    grid-row: span 2;
}

.excursiones__img__japon-dos {
    grid-column: 3;
    grid-row: span 2;
}

.excursiones__img__japon-tres {
    grid-column: 2;
    grid-row: 1 / 3;
}

.excursiones__boton-japon {
    height: 200px;
    width: 16%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px;
    background-color: #14181b;
    position: relative;
    bottom: 500px;
    left: 68.7%;
    border-radius: 15px;
}

.excursiones__boton-japon p {
    color: #CDF6FF;
    text-align: center;
    font-size: 25px;
}


.excursiones__boton-japon p a {
    text-decoration: none;
    background-color: #CDF6FF;
    color: #14181B;
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
}

.excursiones__boton-japon p a:hover {
    color: #14181B;
    background-color: #858585;
    border: 1px solid #858585;
}


/*-------SOBRE NOSOTROS--------*/

.h1__sobrenosotros {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    color: #CDF6FF;

}

.div__sobrenosotros {
    align-items: center;
    height: 150px;
    width: 50%;
    margin-left: 25%;
}

.p__sobrenosotros {
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
    color: #CDF6FF;

}

.sobrenosotros {
    width: 100%;
    height: 85vh;
    background-image: url("../img/tunel.jpg");
    background-position: center;
    background-size: cover;
}

.form-sobrenosotros {
    width: 30%;
    margin: 0% auto;
}

.form-control-sobrenosotros {
    background-color: #444444 !important;
    border: 2px solid #858585;
    color: #9dccd6 !important;
}

.form-label-sobrenosotros {
    color: #9dccd6;
}

.form-text-sobrenosotros {
    color: #9dccd6;
}

.form-check-label-sobrenosotros {
    color: #9dccd6;
}

.form-check-input {
    background-color: #858585 !important;
}

.form-check-input:checked {
    background-color: #14181B !important;
    border-color: #CDF6FF;
}

.boton-color-sobrenosotros {
    background-color: #858585;
    color: #14181B;
}

.boton-color-sobrenosotros:hover {
    border: 2px solid #444444;
    background-color: #14181B;
    color: #CDF6FF;
}

/*----------FOOTER------------*/
footer {
    background-color: #3E4346;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    margin-right: 30px;
}

.facebook {
    width: 64px;
    height: 64px;
}

.instagram {
    width: 64px;
    height: 64px;
}

.twitter {
    width: 64px;
    height: 64px;
}




/*-----------MEDIA QUERIES---------*/


/*---------------INDEX-------------*/
@media screen and (max-width: 1588px) {
    .excursiones__boton__paquete-viajes {
        bottom: 59.5vh;
        width: 21%;
    }

    .excursiones__boton__paquete-viajes p {
        font-size: 22px;
    }
}

@media screen and (max-width:1364px) {
    .excursiones__boton__paquete-viajes {
        position: initial;
        background-color: #3E4346;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 30%;
    }

    .grid__conteiner__paquete-viajes-chile {
        margin-top: 0;
    }
}

@media screen and (max-width:1289px) {
    .nav-link {
        margin: 0%;
    }
}

@media screen and (max-width:1195px) {
    .nav-link {
        font-size: 17px;
    }

}

@media screen and (max-width:1127px) {
    .nav-link {
        font-size: 15px;
    }

    .boton-color-index {
        font-size: 15px;
    }

    .form-control {
        font-size: 15px;
    }
}

@media screen and (max-width:1098px) {
    .excursiones__boton__paquete-viajes {
        height: 160px;
    }
}

@media screen and (max-width:1035px) {
    .nav-link {
        font-size: 14px;
    }

    .boton-color-index {
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }
}

@media screen and (max-width:991px) {
    .nav-link {
        padding: 10px;
        margin-left: 5px;
    }
}


@media screen and (max-width:960px) {
    header {
        flex-direction: column;
        justify-content: center;
    }

    .inicio__titulo {
        font-size: 30px;
    }

    .inicio__titulo__parrafo {
        font-size: 18px;
        width: 50%;
    }

    .recomendacion__titulo {
        font-size: 20px;
    }

    .recomendacion__parrafo {
        font-size: 18px;
    }

    .index__titulo__paquetes {
        font-size: 25px;
    }

    .grid__conteiner__paquete-viajes-argentina {
        grid-template-columns: 700px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .grid__conteiner__paquete-viajes-chile {
        grid-template-columns: 700px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .excursiones__img-chile {
        height: 523px;
    }
}

@media screen and (max-width:829px) {
    .carousel-caption {
        margin-bottom: 100px;
    }

    .carousel-indicators {
        margin-bottom: 100px;
    }
}

@media screen and (max-width:775px) {
    .carousel-caption h5 {
        font-size: 15px;
    }

    .carousel-caption a {
        font-size: 15px;
    }
}


@media screen and (max-width:712px) {

    .grid__conteiner__paquete-viajes-argentina {
        grid-template-columns: 500px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .grid__conteiner__paquete-viajes-chile {
        grid-template-columns: 500px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .excursiones__boton__paquete-viajes p {
        font-size: 18px;
    }

    .excursiones__boton__paquete-viajes p a {
        font-size: 17px;
    }
}

@media screen and (max-width:669px) {
    .carousel-caption {
        margin-bottom: 100px;
    }

    .carousel-indicators {
        margin-bottom: 100px;
    }

    .img-carousel {
        height: 55vh;
    }
}

@media screen and (max-width:583px) {
    .carousel-caption {
        margin-bottom: 70px;
    }

    .carousel-indicators {
        margin-bottom: 70px;
    }

    .img-carousel {
        height: 48vh;
    }
}

@media screen and (max-width:579px) {
    header nav ul li a {
        font-size: 15px;
    }

    .inicio__titulo {
        font-size: 25px;
        padding-top: 250px;
    }

    .inicio__titulo__parrafo {
        font-size: 15px;
    }

    .inicio__boton a {
        font-size: 13px;
    }

    .recomendacion__titulo {
        font-size: 18px;
    }

    .recomendacion__parrafo {
        font-size: 15px;
    }

    .index__titulo__paquetes {
        font-size: 20px;
    }

    .excursiones__boton__paquete-viajes {
        height: 130px;
    }

    .excursiones__boton__paquete-viajes p {
        font-size: 15px;
        margin-bottom: 17px;
    }

    .excursiones__boton__paquete-viajes p a {
        font-size: 13px;
    }
}

@media screen and (max-width:507px) {
    .logo__avion {
        width: 100px;
        height: 100px;
    }

    .inicio__titulo {
        font-size: 20px;
    }

    .inicio__titulo__parrafo {
        font-size: 12px;
    }

    .recomendacion__titulo {
        font-size: 16px;
    }

    .recomendacion__parrafo {
        font-size: 12px;
    }

    .grid__conteiner__paquete-viajes-argentina {
        grid-template-columns: 400px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .grid__conteiner__paquete-viajes-chile {
        grid-template-columns: 400px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .excursiones__boton__paquete-viajes {
        height: 120px;
    }

    .grid__texto-encima h3 {
        font-size: 15px;
    }

}

@media screen and (max-width:451px) {
    .recomendacion__titulo {
        font-size: 14px;
    }

    .excursiones__boton__paquete-viajes {
        height: 100px;
    }

    .excursiones__boton__paquete-viajes p {
        font-size: 12px;
    }

    .excursiones__boton__paquete-viajes p a {
        font-size: 12px;
    }
}

@media screen and (max-width:411px) {
    .logo__avion {
        width: 100px;
        height: 100px;
    }

    .inicio__titulo {
        font-size: 15px;
        padding-top: 100px;
    }

    .inicio__boton a {
        font-size: 10px;
    }

    .recomendacion__titulo {
        font-size: 12px;
    }

    .recomendacion__parrafo {
        font-size: 10px;
    }

    .carousel-caption {
        margin-bottom: 30px;
    }

    .carousel-indicators {
        margin-bottom: 30px;
    }

    .img-carousel {
        height: 35vh;
    }

    .carousel-caption h5 {
        font-size: 12px;
    }

    .carousel-caption a {
        font-size: 12px;
    }

    .index__titulo__paquetes {
        font-size: 15px;
    }

    .grid__conteiner__paquete-viajes-argentina {
        grid-template-columns: 300px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .grid__conteiner__paquete-viajes-chile {
        grid-template-columns: 300px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .grid__texto-encima h3 {
        font-size: 10px;
    }

    .excursiones__boton__paquete-viajes {
        height: 90px;
    }

    .excursiones__boton__paquete-viajes p {
        font-size: 10px;
    }

    .excursiones__boton__paquete-viajes p a {
        font-size: 8px;
    }
}

@media screen and (max-width:320px) {
    .grid__conteiner__paquete-viajes-argentina {
        grid-template-columns: 300px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .grid__conteiner__paquete-viajes-chile {
        grid-template-columns: 300px;
        grid-template-rows: repeat(3, 0.5fr);
    }
}

@media screen and (max-width:310px) {
    .grid__conteiner__paquete-viajes-argentina {
        grid-template-columns: 250px;
        grid-template-rows: repeat(3, 0.5fr);
    }

    .grid__conteiner__paquete-viajes-chile {
        grid-template-columns: 250px;
        grid-template-rows: repeat(3, 0.5fr);
    }
}

/*---------------VUELOS------------*/

@media screen and (max-width:1270px) {
    .card-vuelos-titulo {
        font-size: 22px;
    }

    .card-texto-vuelos {
        font-size: 13px;
    }

    .vuelos__precio strong {
        font-size: 22px;
    }

    .card-body-vuelos a {
        font-size: 14px;
    }
}

@media screen and (max-width:1267px) {
    .card-vuelos {
        margin-right: 200px;
    }

    .card-vuelos-contrario {
        margin-left: 200px;
    }
}

@media screen and (max-width:1063px) {
    .card-vuelos-titulo {
        font-size: 20px;
    }

    .card-texto-vuelos {
        font-size: 12px;
    }

    .vuelos__precio strong {
        font-size: 20px;
    }

    .card-body-vuelos a {
        font-size: 14px;
        padding: 8px;
    }
}

@media screen and (max-width:1023px) {
    .card-vuelos {
        margin-right: 150px;
    }

    .card-vuelos-contrario {
        margin-left: 150px;
    }
}

@media screen and (max-width:989px) {
    .vuelos__h1 {
        font-size: 22px;
    }

    .card-vuelos {
        margin-right: 150px;
    }

    .card-vuelos-contrario {
        margin-left: 150px;
    }
}

@media screen and (max-width:817px) {
    .vuelos__h1 {
        font-size: 20px;
    }

    .card-vuelos-titulo {
        font-size: 17px;
    }

    .card-texto-vuelos {
        font-size: 10px;
    }

    .vuelos__precio strong {
        font-size: 17px;
    }

    .card-body-vuelos a {
        font-size: 12px;
    }
}

@media screen and (max-width:767px) {
    .card-vuelos {
        margin-right: 0%;
        margin: 0 auto;
    }

    .card-vuelos-contrario {
        margin-left: 0%;
        margin: 0 auto;
    }

    .vuelos__h1 {
        font-size: 18px;
    }

    .card-vuelos-titulo {
        font-size: 15px;
    }

    .card-texto-vuelos {
        font-size: 8px;
    }

    .vuelos__precio strong {
        font-size: 15px;
    }

    .card-body-vuelos a {
        font-size: 10px;
        padding: 5px;
    }
}

@media screen and (max-width:581px) {
    .card-vuelos {
        max-width: 100% !important;
    }

    .card-vuelos-contrario {
        max-width: 100% !important;
    }

    .vuelos__h1 {
        font-size: 18px;
    }

    .card-vuelos-titulo {
        font-size: 12px;
    }

    .card-texto-vuelos {
        font-size: 6px;
        margin: 0%;
    }

    .vuelos__precio {
        margin: 0%;
    }

    .vuelos__precio strong {
        font-size: 12px;
    }

    .card-body-vuelos a {
        font-size: 8px;
    }
}

@media screen and (max-width:500px) {
    .vuelos__h1 {
        font-size: 15px;
    }
}

@media screen and (max-width:473px) {
    .vuelos__h1 {
        font-size: 15px;
    }

    .card-vuelos-titulo {
        font-size: 10px;
    }

    .card-texto-vuelos {
        font-size: 5px;
    }

    .vuelos__precio strong {
        font-size: 10px;
    }

    .card-body-vuelos a {
        font-size: 7px;
    }
}

@media screen and (max-width:411px) {
    .vuelos__h1 {
        font-size: 12px;
    }

    .card-vuelos-titulo {
        font-size: 8px;
    }

    .card-texto-vuelos {
        font-size: 5px;
    }

    .vuelos__precio strong {
        font-size: 8px;
    }

    .card-body-vuelos a {
        font-size: 6px;
        padding: 3px;
    }
}

@media screen and (max-width:344px) {
    .vuelos__h1 {
        font-size: 10px;
    }

    .card-vuelos-titulo {
        font-size: 7px;
    }

    .card-texto-vuelos {
        font-size: 5px;
    }

    .vuelos__precio strong {
        font-size: 7px;
    }

    .card-body-vuelos a {
        font-size: 5px;
    }
}

@media screen and (max-width:313px) {
    .card-vuelos-titulo {
        font-size: 6px;
    }
}


/*-------------ALOJAMIENTO------------*/

@media screen and (max-width:1490px) {
    .alojamiento__texto {
        font-size: 15px;
    }

    .alojamiento__precio {
        font-size: 22px;
    }
}

@media screen and (max-width:1322px) {
    .conteiner__alojamiento div {
        width: 40%;
    }
}

@media screen and (max-width:1138px) {
    .conteiner__alojamiento div {
        width: 43%;
    }
}

@media screen and (max-width:960px) {
    .conteiner__alojamiento div {
        width: 55%;
    }

    .conteiner__alojamiento div {
        height: 100%;
    }
}

@media screen and (max-width:900px) {
    .alojamiento__h1 {
        font-size: 22px;
    }
}

@media screen and (max-width:760px) {
    .alojamiento__h1 {
        font-size: 20px;
    }

    .card-alojamiento-titulo {
        font-size: 20px;
    }

    .alojamiento__texto {
        font-size: 12px;
    }

    .alojamiento__precio {
        font-size: 20px;
    }

    .card-body-alojamiento a {
        font-size: 15px;
    }
}

@media screen and (max-width:700px) {
    .conteiner__alojamiento div {
        width: 70%;
    }

    .card-alojamiento-titulo {
        font-size: 15px;
    }

    .alojamiento__texto {
        font-size: 10px;
    }

    .alojamiento__precio {
        font-size: 15px;
    }

    .card-body-alojamiento a {
        font-size: 10px;
    }
}

@media screen and (max-width:650px) {
    .conteiner__alojamiento div {
        width: 100%;
    }

    .conteiner__alojamiento div img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:480px) {
    .alojamiento__h1 {
        font-size: 15px;
    }
}

/*-------------EXCURSIONES------------*/

@media screen and (max-width:1620px) {
    .excursiones__boton-chile {
        left: 11.1%;
    }

    .excursiones__boton-japon {
        left: 76.7%;
    }
}

@media screen and (max-width:1490px) {
    .grid__conteiner {
        width: 90%;
    }

    .excursiones__boton {
        width: 20%;
        left: 69.7%;
    }

    .grid__conteiner-chile {
        width: 90%;
    }

    .excursiones__boton-chile {
        width: 18%;
        left: 8%;
    }

    .excursiones__boton-chile p {
        font-size: 25px;
    }

    .grid__conteiner-japon {
        width: 90%;
    }

    .excursiones__boton-japon {
        width: 20%;
        left: 70.9%;
    }
}

@media screen and (max-width:1420px) {

    .excursiones__boton {
        left: 73.7%;
        bottom: 450px;
        height: 150px;
    }

    .excursiones__boton p {
        font-size: 25px;
    }

    .excursiones__boton p a {
        font-size: 18px;
    }

    .excursiones__boton-chile {
        left: 6%;
        bottom: 450px;
        height: 150px;
    }

    .excursiones__boton-chile p {
        font-size: 25px;
    }

    .excursiones__boton-chile p a {
        font-size: 18px;
    }

    .excursiones__boton-japon {
        left: 73.9%;
        bottom: 450px;
        height: 150px;
    }

    .excursiones__boton-japon p {
        font-size: 25px;
    }

    .excursiones__boton-japon p a {
        font-size: 18px;
    }
}

@media screen and (max-width:1260px) {
    .excursiones__boton-japon {
        left: 74.7%;
    }

    .excursiones__boton-chile p {
        font-size: 22px;
    }


}

@media screen and (max-width:1170px) {
    .grid__conteiner-chile {
        margin-top: -80px;
    }

    .grid__conteiner-japon {
        margin-top: -80px;
    }

    .excursiones__h1 {
        font-size: 22px;
    }

    .excursiones__bloque-texto h2 {
        font-size: 20px;
    }

    .excursiones__bloque-texto-japon h2 {
        font-size: 20px;
    }

    .excursiones__texto {
        font-size: 15px;
    }

    .excursiones__boton {
        height: 130px;
        bottom: 440px;
    }

    .excursiones__boton p {
        font-size: 22px;
    }

    .excursiones__boton p a {
        font-size: 15px;
    }

    .excursiones__boton-chile {
        height: 130px;
        bottom: 440px;
    }

    .excursiones__boton-chile p {
        font-size: 20px;
    }

    .excursiones__boton-chile p a {
        font-size: 15px;
    }

    .excursiones__boton-japon {
        height: 130px;
        bottom: 440px;
    }

    .excursiones__boton-japon p {
        font-size: 22px;
    }

    .excursiones__boton-japon p a {
        font-size: 15px;
    }
}

@media screen and (max-width:1000px) {
    .excursiones__boton {
        height: 110px;
        bottom: 420px;
        left: 74.7%;
    }

    .excursiones__boton p {
        font-size: 20px;
    }

    .excursiones__boton p a {
        font-size: 12px;
    }

    .excursiones__boton-chile {
        height: 110px;
        bottom: 420px;
        left: 5.5%;
    }

    .excursiones__boton-chile p {
        font-size: 19px;
    }

    .excursiones__boton-chile p a {
        font-size: 12px;
    }

    .excursiones__boton-japon {
        height: 110px;
        bottom: 420px;
        left: 76.9%;
    }

    .excursiones__boton-japon p {
        font-size: 20px;
    }

    .excursiones__boton-japon p a {
        font-size: 12px;
    }
}

@media screen and (max-width:930px) {
    .excursiones__h1 {
        font-size: 20px;
    }

    .excursiones__bloque-texto h2 {
        font-size: 17px;
    }

    .excursiones__bloque-texto-japon h2 {
        font-size: 15px;
    }

    .excursiones__texto {
        font-size: 15px;
    }

    .excursiones__boton p {
        font-size: 18px;
    }

    .excursiones__boton p a {
        font-size: 10px;
    }

    .excursiones__boton-chile p {
        font-size: 16px;
    }

    .excursiones__boton-chile p a {
        font-size: 10px;
    }

    .excursiones__boton-japon p {
        font-size: 18px;
    }

    .excursiones__boton-japon p a {
        font-size: 10px;
    }
}

@media screen and (max-width:830px) {
    .excursiones__h1 {
        font-size: 17px;
    }

    .grid__conteiner {
        grid-template-columns: 1fr;
        grid-template-rows: 290px 500px 500px 500px 350px;
    }

    .excursiones__img__buenosaires-dos {
        grid-column: 1;
        grid-row: 2;
    }

    .excursiones__img__buenosaires-tres {
        grid-column: 1;
        grid-row: 3;
    }

    .excursiones__img__buenosaires-cuatro {
        grid-column: 1;
        grid-row: 4;
    }

    .excursiones__bandera-argentina {
        object-fit: cover;
    }

    .excursiones__bloque-texto {
        grid-column: 1;
        grid-row: 5;
    }

    .excursiones__texto {
        font-size: 13px;
    }

    .grid__conteiner-chile {
        margin-top: 0%;
        grid-template-columns: 1fr;
        grid-template-rows: 290px 500px 500px 550px 380px;
    }

    .excursiones__img__chile-uno {
        grid-column: 1;
        grid-row: 1;
    }

    .excursiones__img__chile-dos {
        grid-column: 1;
        grid-row: 2;
    }

    .excursiones__img__chile-tres {
        grid-column: 1;
        grid-row: 3;
    }

    .excursiones__img__chile-cuatro {
        grid-column: 1;
        grid-row: 4;
    }

    .grid__conteiner-japon {
        margin-top: 0%;
        grid-template-columns: 1fr;
        grid-template-rows: 800px 500px 500px;
    }

    .excursiones__img__japon-uno {
        grid-column: 1;
        grid-row: 1;
    }

    .excursiones__img__japon-dos {
        grid-column: 1;
        grid-row: 2;
    }

    .excursiones__img__japon-tres {
        grid-column: 1;
        grid-row: 3;
    }

    .excursiones__bloque-texto-japon {
        grid-column: 1;
        grid-row: 4;
    }

    .excursiones__boton {
        height: 110px;
        background-color: #3E4346;
        position: initial;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .excursiones__boton p {
        font-size: 15px;
    }

    .excursiones__boton p a {
        padding: 5px;
    }

    .excursiones__boton-chile {
        height: 110px;
        background-color: #3E4346;
        position: initial;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .excursiones__boton-chile p {
        font-size: 15px;
    }

    .excursiones__boton-chile p a {
        padding: 5px;
    }

    .excursiones__boton-japon {
        height: 110px;
        background-color: #3E4346;
        position: initial;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .excursiones__boton-japon p {
        font-size: 15px;
    }

    .excursiones__boton-japon p a {
        padding: 5px;
    }
}

@media screen and (max-width:730px) {
    .excursiones__bloque-texto h2 {
        font-size: 13px;
    }

    .excursiones__texto {
        font-size: 12px;
    }

    .excursiones__boton {
        height: 80px;
    }

    .excursiones__boton p {
        font-size: 13px;
    }

    .excursiones__boton p a {
        font-size: 8px;
    }

    .excursiones__boton-chile {
        height: 80px;
    }

    .excursiones__boton-chile p {
        font-size: 13px;
    }

    .excursiones__boton-chile p a {
        font-size: 8px;
    }

    .excursiones__boton-japon {
        height: 80px;
    }

    .excursiones__boton-japon p {
        font-size: 13px;
    }

    .excursiones__boton-japon p a {
        font-size: 8px;
    }
}

@media screen and (max-width:648px) {
    .excursiones__h1 {
        font-size: 15px;
    }

    .excursiones__boton {
        height: 70px;
    }

    .excursiones__boton p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .excursiones__boton-chile {
        height: 70px;
    }

    .excursiones__boton-chile p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .excursiones__boton-japon {
        height: 70px;
    }

    .excursiones__boton-japon p {
        font-size: 10px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:570px) {
    .excursiones__bloque-texto h2 {
        font-size: 13px;
    }

    .excursiones__bloque-texto-japon h2 {
        font-size: 13px;
    }

    .excursiones__texto {
        font-size: 10px;
    }

    .excursiones__boton {
        width: 25%;
    }

    .excursiones__boton-chile {
        width: 25%;
    }

    .excursiones__boton-japon {
        width: 25%;
    }
}

@media screen and (max-width:460px) {
    .excursiones__bloque-texto h2 {
        font-size: 12px;
    }

    .excursiones__texto {
        font-size: 8px;
    }
}

@media screen and (max-width:370px) {
    .excursiones__texto {
        font-size: 7px;
    }
}

/*----------SOBRE NOSOTROS---------*/

@media screen and (max-width:1296px) {
    .h1__sobrenosotros {
        font-size: 30px;
    }
}

@media screen and (max-width:1155px) {
    .form-text-sobrenosotros {
        font-size: 11px;
    }
}

@media screen and (max-width:960px) {
    .sobrenosotros {
        height: 60vh;
    }

    .h1__sobrenosotros {
        font-size: 20px;
    }

    .p__sobrenosotros {
        font-size: 15px;
    }
}

@media screen and (max-width:907px) {
    .form-text-sobrenosotros {
        font-size: 9px;
    }
}

@media screen and (max-width:650px) {
    .h1__sobrenosotros {
        font-size: 15px;
    }

    .p__sobrenosotros {
        font-size: 12px;
    }

    .form-sobrenosotros{
        width: 45%;
    }

    .form-label-sobrenosotros {
        font-size: 12px;
    }

    .form-text-sobrenosotros {
        font-size: 7px;
    }

    .form-check-label-sobrenosotros {
        font-size: 12px;
    }

    .boton-color-sobrenosotros {
        font-size: 12px;
    }
}

@media screen and (max-width:540px) {
    .h1__sobrenosotros {
        font-size: 12px;
    }

    .p__sobrenosotros {
        font-size: 10px;
    }

    .form-label-sobrenosotros {
        font-size: 10px;
    }

    .form-check-label-sobrenosotros {
        font-size: 10px;
    }

    .boton-color-sobrenosotros {
        font-size: 10px;
    }
}

@media screen and (max-width:412px){
    .form-label-sobrenosotros {
        font-size: 9px;
    }

    .form-text-sobrenosotros {
        font-size: 5px;
    }

    .form-check-label-sobrenosotros {
        font-size: 9px;
    }

    .boton-color-sobrenosotros {
        font-size: 9px;
    }
}

@media screen and (max-width:393px) {
    .h1__sobrenosotros {
        font-size: 10px;
    }

    .p__sobrenosotros {
        font-size: 8px;
    }

    .form-label-sobrenosotros {
        font-size: 8px;
    }

    .form-text-sobrenosotros {
        font-size: 5px;
    }

    .form-check-label-sobrenosotros {
        font-size: 8px;
    }

    .boton-color-sobrenosotros {
        font-size: 8px;
    }
}

/*--------------FOOTER-----------*/

@media screen and (max-width:503px) {
    .facebook {
        width: 42px;
        height: 42px;
    }

    .twitter {
        width: 42px;
        height: 42px;
    }

    .instagram {
        width: 42px;
        height: 42px;
    }
}