@import "../base/variables";
@import "../base/maps";
/*-----------ALOJAMIENTO---------*/
main{
    .alojamiento__h1 {
        font-size: nth($font-size, 4);
        text-align: center;
        padding-top: 15px;
        color: nth($colores , 1);
    }
    .col-lg-6 {
        padding: 0% !important;
        .card-alojamiento {
            margin: 8% !important;
            background-color: nth($colores, 3);
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            .card-body-alojamiento {
                padding: 0% !important;
                text-align: center;
            }
            img {
                border-top-left-radius: 30px;
            }
            .card-alojamiento-titulo {
                color: nth($colores , 1);
                padding: 15px;
                font-weight: 600;
                font-size: nth($font-size, 4);
            }
            .alojamiento__texto {
                font-size: nth($font-size, 5);
                margin-bottom: 10px;
                padding: 15px;
                line-height: 22px;
                color: nth($colores , 4);
                text-align: initial;
            }
            a {
                margin-bottom: 10px;
                background-color: map-get($button, bg-color);
                color: map-get($button, color-text);
                border: map-get($button, border-button);
                border-radius: nth($border-radius, 1);
                &:hover{
                    color: map-get($button-hover, color-text);
                    background-color: map-get($button-hover, bg-color);
                    border: map-get($button-hover, border-button);
                }
            }
            .alojamiento__precio {
                font-size: nth($font-size, 4);
                padding-bottom: 30px;
                color: nth($colores , 1);
            }
        }   
        
    }
    .card-alojamiento-ultima {
        margin: 0% auto;
    }
}