@import "../base/variables";
@import "../base/extends";
@import "../base/maps";
main{
    .excursiones__h1 {
        color: nth($colores , 1);
        text-align: center;
        padding: 15px;
        font-size: nth($font-size, 3);
    }
    section{
        .img-carousel-excursiones-bs {
            height: 660px;
        }
        .img-carousel {
            width: 100%;
            height: 70vh;
            object-fit: contain;
        }
    }
    section{
        .flex__conteiner {
            @extend %flex;
            max-width: 1500px;
            margin: 0 auto;
            .grid__conteiner {
                border: 2px solid nth($colores , 3);
                margin-top: 50px;
                display: grid;
                grid-template-columns: repeat(3, 1.5fr);
                grid-auto-rows: 350px;
                .grid__items {
                    background-color: nth($colores , 3);
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                }
                .excursiones__img__buenosaires-uno {
                    grid-column: 1 / 3;
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                }
                .excursiones__img__buenosaires-cuatro {
                    grid-column: 3;
                    grid-row: 1 / 3;
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                }
                .excursiones__bandera-argentina {
                    object-fit: fill;
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                }
                .excursiones__bloque-texto {
                    border: 2px solid nth($colores , 3);
                    grid-column: 1 / 4;
                    grid-row: 3;
                    h2 {
                        text-align: center;
                        padding: 15px;
                        color: nth($colores , 1);
                        font-size: nth($font-size, 4);
                    }
                    .excursiones__texto {
                        font-size: nth($font-size, 5);
                        line-height: 20px;
                        color: nth($colores , 4);
                        margin-bottom: 20px;
                        letter-spacing: -0.50px;
                    }
                }
            }
        }
        .excursiones__boton {
            height: 200px;
            width: 16%;
            @extend %flex-column;
            background-color: nth($colores , 2);
            position: relative;
            bottom: 500px;
            left: 68.7%;
            border-radius: 15px;
            p {
                color: nth($colores , 1);
                text-align: center;
                font-size: nth($font-size, 4);
                a {
                    text-decoration: none;
                    background-color: map-get($button, bg-color);
                    color: map-get($button, color-text);
                    font-size: nth($font-size, 5);
                    padding: 8px;
                    border-radius: nth($border-radius , 2);
                    &:hover{
                        color: map-get($button-hover-2 , color-text);
                        background-color: map-get($button-hover-2 , bg-color);
                        border: map-get($button-hover-2 , border-button);
                    }
                }
            }
        }
        
    }
    section{
        .flex__conteiner {
            @extend %flex;
            max-width: 1500px;
            margin: 0 auto;
            .grid__conteiner-chile {
                border: 2px solid nth($colores , 3);
                margin-top: 8px;
                display: grid;
                grid-template-columns: repeat(3, 1.5fr);
                grid-auto-rows: 350px;
                margin-top: -120px;
                .grid__items {
                    background-color: nth($colores , 3);
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .excursiones__img__chile-uno {
                    grid-column: 2/ 3;
                    grid-row: 1;
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .excursiones__img__chile-tres {
                    grid-column: 2 / 4;
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .excursiones__img__chile-cuatro {
                    grid-row: 1 / 3;
                    grid-column: 1;
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .excursiones__bloque-texto {
                    border: 2px solid nth($colores , 3);
                    grid-column: 1 / 4;
                    grid-row: 3;
                    h2 {
                        text-align: center;
                        padding: 15px;
                        color: nth($colores , 1);
                        font-size: nth($font-size, 4);
                    }
                    .excursiones__texto {
                        font-size: nth($font-size, 5);
                        line-height: 20px;
                        color: nth($colores , 4);
                        margin-bottom: 20px;
                        letter-spacing: -0.50px;
                    }
                }
            }
        }
        .excursiones__boton-chile {
            height: 200px;
            width: 16%;
            @extend %flex-column;
            border: 1px;
            background-color: nth($colores , 2);
            position: relative;
            bottom: 500px;
            left: 15.1%;
            border-radius: 15px;
            p {
                color: nth($colores , 1);
                text-align: center;
                font-size: nth($font-size, 4);
                a {
                    text-decoration: none;
                    background-color: map-get($button, bg-color);
                    color: map-get($button , color-text);
                    font-size: nth($font-size, 5);
                    padding: 8px;
                    border-radius: nth($border-radius, 2);
                    &:hover{
                        color: map-get($button-hover-2 , color-text);
                        background-color: map-get($button-hover-2, bg-color);
                        border: map-get($button-hover-2, border-button);
                    }
                }
            }
        }
    }
    section{
        .flex__conteiner {
            @extend %flex;
            max-width: 1500px;
            margin: 0 auto;
            .grid__conteiner-japon {
                border: 2px solid nth($colores , 3);
                margin-top: 8px;
                display: grid;
                grid-template-columns: repeat(3, 1.5fr);
                grid-auto-rows: 350px;
                margin-top: -120px;
                .grid__items {
                    background-color: nth($colores , 3);
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .excursiones__img__japon-uno {
                    grid-column: 1;
                    grid-row: span 2;
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .excursiones__img__japon-dos {
                    grid-column: 3;
                    grid-row: span 2;
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .excursiones__img__japon-tres {
                    grid-column: 2;
                    grid-row: 1 / 3;
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .excursiones__bloque-texto-japon {
                    border: 2px solid #3E4346;
                    grid-column: 1 / 4;
                    grid-row: 3;
                    h2 {
                        text-align: center;
                        padding: 15px;
                        color: nth($colores , 1);
                        font-size: nth($font-size, 4);
                    }
                    .excursiones__texto {
                        font-size: nth($font-size, 5);
                        line-height: 20px;
                        color: nth($colores , 4);
                        margin-bottom: 20px;
                        letter-spacing: -0.50px;
                    }
                }
            }
        }
        .excursiones__boton-japon {
            height: 200px;
            width: 16%;
            @extend %flex-column;
            border: 1px;
            background-color: nth($colores , 2);
            position: relative;
            bottom: 500px;
            left: 68.7%;
            border-radius: 15px;
            p {
                color: nth($colores , 1);
                text-align: center;
                font-size: nth($font-size, 4);
            }
            a {
                text-decoration: none;
                background-color: map-get($button, bg-color);
                color: map-get($button, color-text);
                font-size: nth($font-size, 5);
                padding: 8px;
                border-radius: nth($border-radius, 2);
                &:hover{
                    color: map-get($button-hover-2, color-text);
                    background-color: map-get($button-hover-2, bg-color);
                    border: map-get($button-hover-2, border-button);
                }
            }
        }
    }
}