@import "../base/variables";
@import "../base/mixin";
footer{
    background-color: nth($colores , 3);
    @include flex (flex, space-between, center);
    .logo__avion{
        width: 150px;
        height: 150px;
    }
    div{
        margin-right: 30px;
        .facebook {
            width: 64px;
            height: 64px;
        }
        
        .instagram {
            width: 64px;
            height: 64px;
        }
        
        .twitter {
            width: 64px;
            height: 64px;
        }
        
    }
}