@import "../base/variables";
@import "../base/maps";
header {
    .header-color {
        background-color: nth($colores , 3) !important;
        .container-fluid {
            margin-right: 25px !important;
            a {
                .logo__avion {
                    width: 150px;
                    height: 150px;
                }
            }
            div{
                ul{
                    li{
                        .nav-link{
                            color: nth($colores , 1) !important;
                            margin: 0%;
                            margin-right: 10px;
                            margin-left: 10px;
                            text-decoration: none;
                            list-style-type: none;
                            font-size: nth($font-size, 5);
                            font-weight: 600;
                            color: nth($colores , 1);
                            &:hover{
                                color: nth($colores , 2) !important;
                            }
                        }
                    }
                }
                form{
                    .form-control-index{
                        background-color: nth($colores , 2) !important;
                        border: 1px solid nth($colores , 2);
                        color: nth($colores , 1) !important;
                        &::placeholder{
                            color: nth($colores , 1);
                        }
                    }
                    .boton-color-index{
                        color: map-get($button, color-text)!important;
                        border-color: nth($colores , 1) !important;
                        background-color: map-get($button, bg-color) !important;
                        border-radius: nth($border-radius , 2);
                        &:hover{
                            color: map-get($button-hover, color-text)!important;
                            background-color: map-get($button-hover, bg-color)!important;
                            border: map-get($button-hover, border-button) !important;
                        }
                    }
                }
            }
        }
    }
}