@import "../base/variables";
@import "../base/mixin";
@import "../base/maps";
main{
    .inicio{
        width: 100%;
        height: 80vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/muelle.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .inicio__titulo{
            font-size: nth($font-size, 1);
            text-align: center;
            font-weight: 600;
            padding-top: 300px;
            color: $color-textos-principales;
        }
        .inicio__titulo__parrafo {
            text-align: center;
            font-weight: 300;
            padding-top: 10px;
            font-size: nth($font-size, 5);
            color: $color-textos-principales;
            width: 50%;
            margin-left: 25%;
        }
        .inicio__boton {
            text-align: center;
            padding: 20px;
            a{
                text-decoration: none;
                color: map-get($button, color-text);
                background-color: map-get($button, bg-color);
                padding: 10px;
                border: map-get($button, border-button);
                font-weight: 600;
                border-radius: nth($border-radius , 1);
                &:hover{
                    color: map-get($button-hover , color-text);
                    background-color: map-get($button-hover, bg-color);
                    border: map-get($button-hover, border-button);
                }
            }
        }
    }
    section{
        div{
            .recomendacion__titulo {
                font-size: nth($font-size, 4);
                text-align: center;
                padding-top: 20px;
                font-weight: 600;
                color: $color-textos-principales;
            }
            .recomendacion__parrafo {
                font-size: nth($font-size, 5);
                text-decoration: none;
                font-weight: 200;
                text-align: center;
                color: nth($colores , 1);
            }
            .recomendacion__enlace{
                &:hover{
                    color: nth($colores , 4);
                }
            }
        }
    }
    section{
        .carousel-index{
            text-align: center !important;
            div{
                .img-carousel{
                    width: 100%;
                    height: 70vh;
                    object-fit: contain;
                }
                .carousel-boton-index{
                    a{
                        text-decoration: none;
                        color: map-get($button, color-text);
                        background-color: map-get($button, bg-color);
                        padding: 5px;
                        border-radius: 13px;
                        &:hover{
                            background-color: map-get($button-hover , bg-color);
                            color: map-get($button-hover , color-text);
                        }
                    }
                }
            }
        }
        .carousel-control-prex-index{
            left: 12%;
        }
        .carousel-control-next-index {
            right: 12%;
        }
    }
    section{
        .index__hr {
            border-color: nth($colores , 1);
            margin-top: 10px;
            margin-left: 20%;
            margin-right: 20%;
        }
        .index__titulo__paquetes {
            text-align: center;
            font-size: nth($font-size, 3);
            color: nth($colores , 1);
            margin-top: 30px;
        }
        .flex__conteiner {
            @extend %flex;
            max-width: 1500px;
            margin: 0 auto;
            .grid__conteiner__paquete-viajes-argentina {
                border: 2px solid nth($colores , 3);
                margin-top: 20px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 800px;
                box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
                .grid__items {
                    background-color: nth($colores , 3);
                }
                .grid__texto-encima {
                    position: relative;
                    h3  {
                        position: absolute;
                        color: white;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.5);
                        width: 100%;
                        margin: 0%;
                    }
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .excursiones__boton__paquete-viajes {
            height: 200px;
            width: 21%;
            @extend %flex-column;
            border: 1px;
            background-color: #14181b;
            position: relative;
            bottom: 53.7vh;
            left: 39vw;
            border-radius: 15px;
            p {
                color: nth($colores , 1);
                text-align: center;
                font-size: nth($font-size, 3);
                margin-bottom: 25px;
                
            }
            a {
                text-decoration: none;
                background-color: map-get($button , bg-color);
                color: map-get($button , color-text);
                font-size: nth($font-size, 5);
                padding: 8px;
                border-radius: nth($border-radius , 2);
                &:hover{
                    color: map-get($button-hover-2 , color-text);
                    background-color: map-get($button-hover-2 , bg-color);
                    border: map-get($button-hover-2 , border-button);
                }
            }
        }
    }
    section{
        .flex__conteiner{
            @extend %flex;
            max-width: 1500px;
            margin: 0 auto;
            .grid__conteiner__paquete-viajes-chile {
                border: 2px solid nth($colores , 3);
                margin-top: -120px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 800px;
                box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 10px 10px 25px -6px rgba(0, 0, 0, 0.75);
                .grid__items {
                    background-color: nth($colores , 3);
                }
                .grid__texto-encima {
                    position: relative;
                    h3  {
                        position: absolute;
                        color: white;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.5);
                        width: 100%;
                        margin: 0%;
                    }
                    .excursiones__img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .excursiones__boton__paquete-viajes {
            height: 200px;
            width: 21%;
            @extend %flex-column;
            border: 1px;
            background-color: #14181b;
            position: relative;
            bottom: 53.7vh;
            left: 39vw;
            border-radius: 15px;
            p {
                color: nth($colores , 1);
                text-align: center;
                font-size: nth($font-size, 3);
                margin-bottom: 25px;
                
            }
            a {
                text-decoration: none;
                background-color: map-get($button , bg-color);
                color: map-get($button , color-text);
                font-size: nth($font-size , 5);
                padding: 8px;
                border-radius: nth($border-radius , 2);
                &:hover{
                    color: map-get($button-hover-2 , color-text);
                    background-color: map-get($button-hover-2 , bg-color);
                    border: map-get($button-hover-2 , border-radius);
                }
            }
        }
    }
}