@import "../base/variables";
@import "../base/mixin";
@import "../base/maps";
main{
    .sobrenosotros {
        width: 100%;
        height: 85vh;
        background-image: url("../img/tunel.jpg");
        background-position: center;
        background-size: cover;
        .h1__sobrenosotros {
            @include flex-out-align (flex, center);
            padding-top: 100px;
            color: nth($colores , 1);
            font-size: nth($font-size, 3);
        }
        .div__sobrenosotros {
            align-items: center;
            height: 150px;
            width: 50%;
            margin-left: 25%;
        }
        .p__sobrenosotros {
            text-align: center;
            font-weight: 600;
            padding-top: 10px;
            color: nth($colores , 1);
        }
    }
    section{
        .form-sobrenosotros {
            width: 30%;
            margin: 0% auto;
            .form-label-sobrenosotros {
                color: nth($colores , 5);
            }
            .form-control-sobrenosotros {
                background-color: nth($colores , 6) !important;
                border: 2px solid nth($colores , 4);
                color: nth($colores , 5) !important;
            }
            .form-text-sobrenosotros {
                color: nth($colores , 5);
            }
            .form-check-label-sobrenosotros {
                color: nth($colores , 5);
            }
            .form-check-input {
                background-color: nth($colores , 4) !important;
                &:checked{
                    background-color: nth($colores , 2) !important;
                    border-color: nth($colores , 1);
                }
            }
            .boton-color-sobrenosotros {
                background-color: map-get($button-3 , bg-color);
                color: map-get($button-3 , color-text);
                &:hover{
                    border: map-get($button-hover-3 , border-button);
                    background-color: map-get($button-hover-3 , bg-color);
                    color: map-get($button-hover-3 , color-text);
                }
            }
        }
    }
}