@import "../base/variables";
@import "../base/maps";
main{
    .vuelos__h1 {
        font-size: nth($font-size, 4);
        text-align: center;
        margin-bottom: 10px;
        padding-top: 15px;
        color: nth($colores , 1);
    }
    section{
        .card-vuelos {
            background-color: nth($colores , 2);
            border: 2px solid nth($colores , 3);
            margin: 0 auto;
            margin-right: 250px;
            border-radius: 35px;
            .buenosaires {
                width: 100%;
                height: 100%;
            }
            .bordes-img-vuelos {
                border-bottom-left-radius: 35px;
                border-top-left-radius: 35px;
            }
            .card-body-vuelos {
                width: 100%;
                text-align: center;
                .card-vuelos-titulo {
                    font-size: nth($font-size, 4);
                    margin-bottom: 10px;
                    color: nth($colores , 1);
                }
                .card-texto-vuelos {
                    color: nth($colores , 4);
                    letter-spacing: 0.30px;
                }
                .vuelos__precio {
                    strong{
                        font-size: nth($font-size, 4);
                        color: nth($colores , 1);
                    }
                }
                a {
                    background-color: map-get($button, bg-color);
                    padding: 10px;
                    text-decoration: none;
                    color: map-get($button, color-text);
                    text-align: center;
                    border-radius: nth($border-radius , 1);
                    &:hover{
                        color: map-get($button-hover-2 , color-text);
                        background-color: map-get($button-hover-2 , bg-color);
                        border: map-get($button-hover-2 , border-button);
                    }
                }
            }
        }
        .card-vuelos-contrario {
            background-color: nth($colores , 2);
            border: 2px solid nth($colores , 3);
            margin: 0 auto;
            margin-left: 250px;
            border-radius: 35px;
            .montevideo {
                width: 100%;
                height: 100%;
            }
            .bordes-img-vuelos-contrario {
                border-bottom-right-radius: 35px;
                border-top-right-radius: 35px;
            }
            .card-body-vuelos {
                width: 100%;
                text-align: center;
                .card-vuelos-titulo {
                    font-size: nth($font-size, 4);
                    margin-bottom: 10px;
                    color: nth($colores , 1);
                }
                .card-texto-vuelos {
                    color: nth($colores , 4);
                    letter-spacing: 0.30px;
                }
                .vuelos__precio {
                    strong {
                        font-size: nth($font-size, 4);
                        color: nth($colores , 1);
                    }
                }
                a {
                    background-color: map-get($button , bg-color);
                    padding: 10px;
                    text-decoration: none;
                    color: map-get($button, color-text);
                    text-align: center;
                    border-radius: nth($border-radius , 1);
                    &:hover{
                        color: map-get($button-hover-2 , color-text);
                        background-color: map-get($button-hover-2 , bg-color);
                        border: map-get($button-hover-2 , border-button);
                    }
                }
                
            }
        }
        .card-vuelos {
            background-color: nth($colores , 2);
            border: 2px solid nth($colores , 3);
            margin: 0 auto;
            margin-right: 250px;
            border-radius: 35px;
            .riodejaneiro {
                width: 100%;
                height: 100%;
            }
            .bordes-img-vuelos {
                border-bottom-left-radius: 35px;
                border-top-left-radius: 35px;
            }
            .card-body-vuelos {
                width: 100%;
                text-align: center;
                .card-vuelos-titulo {
                    font-size: nth($font-size, 4);
                    margin-bottom: 10px;
                    color: nth($colores , 1);
                }
                .card-texto-vuelos {
                    color: nth($colores , 4);
                    letter-spacing: 0.30px;
                }
                .vuelos__precio {
                    strong {
                        font-size: nth($font-size, 4);
                        color: nth($colores , 1);
                    }
                }
                a {
                    background-color: map-get($button , bg-color);
                    padding: 10px;
                    text-decoration: none;
                    color: map-get($button, color-text);
                    text-align: center;
                    border-radius: nth($border-radius , 1);
                    &:hover{
                        color: map-get($button-hover-2 , color-text);
                        background-color: map-get($button-hover-2 , bg-color);
                        border: map-get($button-hover-2 , border-button);
                    }
                }
            }
        }
        .card-vuelos-contrario {
            background-color: nth($colores , 2);
            border: 2px solid nth($colores , 3);
            margin: 0 auto;
            margin-left: 250px;
            border-radius: 35px;
            .santiagodechile {
                width: 100%;
                height: 100%;
            }
            .bordes-img-vuelos-contrario {
                border-bottom-right-radius: 35px;
                border-top-right-radius: 35px;
            }
            .card-body-vuelos {
                width: 100%;
                text-align: center;
                .card-vuelos-titulo {
                    font-size: nth($font-size, 4);
                    margin-bottom: 10px;
                    color: nth($colores , 1);
                }
                .card-texto-vuelos {
                    color: nth($colores , 4);
                    letter-spacing: 0.30px;
                }
                .vuelos__precio {
                    strong {
                        font-size: nth($font-size, 4);
                        color: nth($colores , 1);
                    }
                }
                .card-body-vuelos a {
                    background-color: map-get($button , bg-color);
                    padding: 10px;
                    text-decoration: none;
                    color: map-get($button , color-text);
                    text-align: center;
                    border-radius: nth($border-radius , 1);
                    &:hover{
                        color: map-get($button-hover-2 , color-text);
                        background-color: map-get($button-hover-2 , bg-color);
                        border: map-get($button-hover-2 , border-button);
                    }
                }
            }
        }
        .card-vuelos {
            background-color: nth($colores , 2);
            border: 2px solid nth($colores , 3);
            margin: 0 auto;
            margin-right: 250px;
            border-radius: 35px;
            .tokyo {
                width: 100%;
                height: 100%;
            }
            .bordes-img-vuelos {
                border-bottom-left-radius: 35px;
                border-top-left-radius: 35px;
            }
            .card-body-vuelos {
                width: 100%;
                text-align: center;
                .card-vuelos-titulo {
                    font-size: nth($font-size, 4);
                    margin-bottom: 10px;
                    color: nth($colores , 1);
                }
                .card-texto-vuelos {
                    color: nth($colores , 4);
                    letter-spacing: 0.30px;
                }
                .vuelos__precio {
                    strong {
                        font-size: nth($font-size, 4);
                        color: nth($colores , 1);
                    }
                }
                a {
                    background-color: map-get($button , bg-color);
                    padding: 10px;
                    text-decoration: none;
                    color: map-get($button, color-text);
                    text-align: center;
                    border-radius: nth($border-radius , 1);
                    &:hover{
                        color: map-get($button-hover-2 , color-text);
                        background-color: map-get($button-hover-2 , bg-color);
                        border: map-get($button-hover-2 , border-button);
                    }
                }
            }
        }
        .card-vuelos-contrario {
            background-color: nth($colores , 2);
            border: 2px solid nth($colores , 3);
            margin: 0 auto;
            margin-left: 250px;
            border-radius: 35px;
            .madrid {
                width: 100%;
                height: 100%;
            }
            .bordes-img-vuelos-contrario {
                border-bottom-right-radius: 35px;
                border-top-right-radius: 35px;
            }
            .card-body-vuelos {
                width: 100%;
                text-align: center;
                .card-vuelos-titulo {
                    font-size: nth($font-size, 4);
                    margin-bottom: 10px;
                    color: nth($colores , 1);
                }
                .card-texto-vuelos {
                    color: nth($colores , 4);
                    letter-spacing: 0.30px;
                }
                .vuelos__precio {
                    strong {
                        font-size: nth($font-size, 4);
                        color: nth($colores , 1);
                    }
                }
                a {
                    background-color: map-get($button , bg-color);
                    padding: 10px;
                    text-decoration: none;
                    color: map-get($button, color-text);
                    text-align: center;
                    border-radius: nth($border-radius , 1);
                    &:hover{
                        color: map-get($button-hover-2 , color-text);
                        background-color: map-get($button-hover-2 , bg-color);
                        border: map-get($button-hover-2 , border-button);
                    }
                }
            }
            
        }
        .card-vuelos {
            background-color: nth($colores , 2);
            border: 2px solid nth($colores , 3);
            margin: 0 auto;
            margin-right: 250px;
            border-radius: 35px;
            .venecia {
                width: 100%;
                height: 100%;
            }
            .bordes-img-vuelos {
                border-bottom-left-radius: 35px;
                border-top-left-radius: 35px;
            }
            .card-body-vuelos {
                width: 100%;
                text-align: center;
                .card-vuelos-titulo {
                    font-size: nth($font-size, 4);
                    margin-bottom: 10px;
                    color: nth($colores , 1);
                }
                .card-texto-vuelos {
                    color: nth($colores , 4);
                    letter-spacing: 0.30px;
                }
                .vuelos__precio {
                    strong {
                        font-size: nth($font-size, 4);
                        color: nth($colores , 1);
                    }
                }
                a {
                    background-color: map-get($button , bg-color);
                    padding: 10px;
                    text-decoration: none;
                    color: map-get($button, color-text);
                    text-align: center;
                    border-radius: nth($border-radius , 1);
                    &:hover{
                        color: map-get($button-hover-2 , color-text);
                        background-color: map-get($button-hover-2 , bg-color);
                        border: map-get($button-hover-2 , border-button);
                    }
                }
            }
        }
    }
    
}