/*----------VUELOS----------*/
main{
    .vuelos__h1 {
        font-size: 25px;
        text-align: center;
        margin-bottom: 10px;
        padding-top: 15px;
        color: #CDF6FF;
    }
    
}