* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}


@font-face {
    font-family: 'Renogare';
    src: url(../assets/fonts/Renogare-Regular.otf);
}

body {
    background-color: #14181B;
    font-family: 'Renogare';
    font-weight: 100;
    font-style: normal;
}
