$button:(
    bg-color: #CDF6FF,
    border-button: 1px solid #CDF6FF,
    color-text: #14181B,
);

$button-hover:(
    bg-color: #14181B,
    border-button: 1px solid #14181B,
    color-text: #CDF6FF
);

$button-hover-2:(
    bg-color:#858585,
    border-button: 1px solid #858585,
    color-text: #14181B,
);

$button-3:(
    bg-color: #858585,
    color-text: #14181B,
);

$button-hover-3:(
    bg-color: #14181B,
    border-button: 2px solid #444444,
    color-text: #CDF6FF
);

// #CDF6FF,
// #14181B,
// #3E4346,
// #858585,
// #9dccd6,
// #444444;