/*-----------MEDIA QUERIES---------*/
/*---------------INDEX-------------*/
@media screen and (max-width: 1588px) {
    main{
        section{
            .excursiones__boton__paquete-viajes {
                bottom: 59.5vh;
                width: 21%;
                p {
                    font-size: 22px;
                }
            }
        }
    }
}

@media screen and (max-width:1364px) {
    main{
        section{
            .excursiones__boton__paquete-viajes {
                position: initial;
                background-color: #3E4346;
                margin: 0 auto;
                margin-top: 30px;
                margin-bottom: 30px;
                width: 30%;
            }
            .flex__conteiner{
                .grid__conteiner__paquete-viajes-chile {
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (max-width:1289px) {
    header{
        nav{
            .container-fluid{
                div{
                    ul{
                        .nav-item{
                            .nav-link{
                                margin: 0%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1195px) {
    header{
        nav{
            .container-fluid{
                div{
                    ul{
                        .nav-item{
                            .nav-link {
                                font-size: 17px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1127px) {
    header{
        nav{
            .container-fluid{
                div{
                    ul{
                        .nav-item{
                            .nav-link {
                                font-size: 15px;
                            }
                        }
                    }
                    .d-flex{
                        .boton-color-index {
                            font-size: 15px;
                        }
                        .form-control {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1098px) {
    main{
        section{
            .excursiones__boton__paquete-viajes {
                height: 160px;
            }
        }
    }
}

@media screen and (max-width:1035px) {
    header{
        nav{
            .container-fluid{
                div{
                    ul{
                        .nav-item{
                            .nav-link {
                                font-size: 14px;
                            }
                        }
                    }
                    .d-flex{
                        .boton-color-index {
                            font-size: 14px;
                        }
                        .form-control {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:991px) {
    header{
        nav{
            .container-fluid{
                div{
                    ul{
                        .nav-item{
                            .nav-link {
                                padding: 10px;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:960px) {
    main{
        .inicio{
            .inicio__titulo {
                font-size: 30px;
            }
            .inicio__titulo__parrafo {
                font-size: 18px;
                width: 50%;
            }
        }
        section{
            div{
                .recomendacion__titulo {
                    font-size: 20px;
                }
                .recomendacion__parrafo {
                    font-size: 18px;
                }
            }
        }
        section{
            .index__titulo__paquetes {
                font-size: 25px;
            }
            .flex__conteiner{
                .grid__conteiner__paquete-viajes-argentina {
                    grid-template-columns: 700px;
                    grid-template-rows: repeat(3, 0.5fr);
                }
                .grid__conteiner__paquete-viajes-chile {
                    grid-template-columns: 700px;
                    grid-template-rows: repeat(3, 0.5fr);
                    .grid__items{
                        .excursiones__img-chile {
                            height: 523px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:829px) {
    main{
        section{
            div{
                .carousel-index{
                    .carousel-item{
                        .carousel-caption {
                            margin-bottom: 100px;
                        }
                        div{
                            h2{
                                font-size: 15px;
                            }
                        }
                    }
                }
                .carousel-indicators {
                    margin-bottom: 100px;
                }
            }
        }
    }
}

@media screen and (max-width:775px) {
    .carousel-caption h5 {
        font-size: 15px;
    }
    .carousel-caption a {
        font-size: 15px;
    }
}

@media screen and (max-width:712px) {
    main{
        section{
            .flex__conteiner{
                .grid__conteiner__paquete-viajes-argentina {
                    grid-template-columns: 500px;
                    grid-template-rows: repeat(3, 0.5fr);
                }
                .grid__conteiner__paquete-viajes-chile {
                    grid-template-columns: 500px;
                    grid-template-rows: repeat(3, 0.5fr);
                }
            }
            .excursiones__boton__paquete-viajes{
                p {
                    font-size: 18px;
                    a {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:669px) {
    main{
        section{
            div{
                .carousel-index{
                    .carousel-item{
                        .img-carousel {
                            height: 55vh;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:583px) {
    main{
        section{
            div{
                .carousel-index{
                    .carousel-item{
                        .carousel-caption {
                            margin-bottom: 70px;
                        }
                        .img-carousel {
                            height: 48vh;
                        }
                    }
                }
                .carousel-indicators {
                    margin-bottom: 70px;
                }
            }
        }
    }
}

@media screen and (max-width:579px) {
    header{
        nav{
            .container-fluid{
                div{
                    ul{
                        .nav-item{
                            .nav-link {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    main{
        .inicio{
            .inicio__titulo {
                font-size: 25px;
                padding-top: 250px;
            }
            .inicio__titulo__parrafo {
                font-size: 15px;
            }
            .inicio__boton {
                a {
                    font-size: 13px;
                }
            } 
        }
        section{
            div{
                .recomendacion__titulo {
                    font-size: 18px;
                }
                .recomendacion__parrafo {
                    font-size: 15px;
                }
            }
        }
        section{
            .index__titulo__paquetes {
                font-size: 20px;
            }
            .excursiones__boton__paquete-viajes {
                height: 130px;
                p {
                    font-size: 15px;
                    margin-bottom: 17px;
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:507px) {
    header{
        nav{
            .container-fluid{
                .navbar-brand{
                    .logo__avion {
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
    main{
        .inicio{
            .inicio__titulo {
                font-size: 20px;
            }
            .inicio__titulo__parrafo {
                font-size: 12px;
            }
        }
        section{
            div{
                .recomendacion__titulo {
                    font-size: 16px;
                }
            
                .recomendacion__parrafo {
                    font-size: 12px;
                }
            }
        }
        section{
            .flex__conteiner{
                .grid__conteiner__paquete-viajes-argentina {
                    grid-template-columns: 400px;
                    grid-template-rows: repeat(3, 0.5fr);
                    .grid__texto-encima{
                        h3{
                            font-size: 15px;
                        }
                    }
                }
            
                .grid__conteiner__paquete-viajes-chile {
                    grid-template-columns: 400px;
                    grid-template-rows: repeat(3, 0.5fr);
                    .grid__texto-encima{
                        h3{
                            font-size: 15px;
                        }
                    }
                }
            }
            .excursiones__boton__paquete-viajes {
                height: 120px;
            }
        }
    }
}

@media screen and (max-width:451px) {
    main{
        section{
            div{
                .recomendacion__titulo {
                    font-size: 14px;
                }
            }
        }
        section{
            .excursiones__boton__paquete-viajes {
                height: 100px;
                p {
                    font-size: 12px;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:411px) {
    main{
        .inicio{
            .inicio__titulo {
                font-size: 15px;
                padding-top: 100px;
            }
            .inicio__boton {
                a {
                    font-size: 10px;
                }
            }
        }
        section{
            div{
                .recomendacion__titulo {
                    font-size: 12px;
                }
                .recomendacion__parrafo {
                    font-size: 10px;
                }
            }
        }
        section{
            div{
                .carousel-index{
                    .carousel-item{
                        .carousel-caption {
                            margin-bottom: 30px;
                        }
                        .img-carousel {
                            height: 35vh;
                        }
                    }
                }
                .carousel-indicators {
                    margin-bottom: 30px;
                }
            }
        }
        section{
            .index__titulo__paquetes {
                font-size: 15px;
            }
            .flex__conteiner{
                .grid__conteiner__paquete-viajes-argentina {
                    grid-template-columns: 300px;
                    grid-template-rows: repeat(3, 0.5fr);
                    .grid__texto-encima {
                        h3 {
                            font-size: 10px;
                        }
                    }
                }
                .grid__conteiner__paquete-viajes-chile {
                    grid-template-columns: 300px;
                    grid-template-rows: repeat(3, 0.5fr);
                    .grid__texto-encima {
                        h3 {
                            font-size: 10px;
                        }
                    }
                }
            }
            .excursiones__boton__paquete-viajes {
                height: 90px;
                p {
                    font-size: 10px;
                    a {
                        font-size: 8px;
                    }
                }
            }
        }
    }
    .carousel-caption h5 {
        font-size: 12px;
    }
    .carousel-caption a {
        font-size: 12px;
    }
}

@media screen and (max-width:320px) {
    main{
        section{
            .flex__conteiner{
                .grid__conteiner__paquete-viajes-argentina {
                    grid-template-columns: 250px;
                    grid-template-rows: repeat(3, 0.5fr);
                }
                .grid__conteiner__paquete-viajes-chile {
                    grid-template-columns: 250px;
                    grid-template-rows: repeat(3, 0.5fr);
                }
            }
        }
    }
}
/*----------VUELOS----------*/
@media screen and (max-width:1270px) {
    main{
        section{
            .card-vuelos{
                .row{
                    .col-md-8{
                        .card-body-vuelos{
                            .card-vuelos-titulo {
                                font-size: 20px;
                            }
                            .card-texto-vuelos {
                                font-size: 13px;
                            }
                            .vuelos__precio {
                                strong {
                                    font-size: 22px;
                                }
                            }
                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .card-vuelos-contrario {
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 20px;
                    }
                    strong {
                        font-size: 22px;
                    }
                    .card-texto-vuelos {
                        font-size: 13px;
                    }
                    a {
                        font-size: 14px;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:1267px) {
    main{
        section{
            .card-vuelos {
                margin-right: 200px;
            }
            .card-vuelos-contrario {
                margin-left: 200px;
            }
        }
    }
}

@media screen and (max-width:1063px) {
    main{
        section{
            .card-vuelos{
                .row{
                    .col-md-8{
                        .card-body-vuelos{
                            .card-vuelos-titulo {
                                font-size: 20px;
                            }
                            .card-texto-vuelos {
                                font-size: 12px;
                            }
                            .vuelos__precio {
                                strong {
                                    font-size: 20px;
                                }
                            }
                            a {
                                font-size: 14px;
                                padding: 8px;
                            }
                        }
                    }
                }
            }
            .card-vuelos-contrario {
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 20px;
                    }
                    .vuelos__precio {
                        strong {
                            font-size: 20px;
                        }
                    }
                    .card-texto-vuelos {
                        font-size: 12px;
                    }
                    a {
                        font-size: 14px;
                        padding: 8px;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:1023px) {
    main{
        section{
            .card-vuelos {
                margin-right: 150px;
            }
            .card-vuelos-contrario {
                margin-left: 150px;
            }
        }
    }
}

@media screen and (max-width:989px) {
    main{
        .vuelos__h1 {
            font-size: 22px;
        }
        section{
            .card-vuelos {
                margin-right: 150px;
            }
            .card-vuelos-contrario {
                margin-left: 150px;
            }
        }
    }
}

@media screen and (max-width:817px) {
    main{
        .vuelos__h1 {
            font-size: 20px;
        }
        section{
            .card-vuelos{
                .row{
                    .col-md-8{
                        .card-body-vuelos{
                            .card-vuelos-titulo {
                                font-size: 17px;
                            }
                            .card-texto-vuelos {
                                font-size: 10px;
                            }
                            .vuelos__precio {
                                strong {
                                    font-size: 17px;
                                }
                            }
                            a {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .card-vuelos-contrario {
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 17px;
                    }
                    .vuelos__precio {
                        strong {
                            font-size: 17px;
                        }
                    }
                    .card-texto-vuelos {
                        font-size: 10px;
                    }
                    a {
                        font-size: 12px;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:767px) {
    main{
        .vuelos__h1 {
            font-size: 18px;
        }
        section{
            .card-vuelos{
                margin-right: 0%;
                margin: 0 auto;
                .row{
                    .col-md-8{
                        .card-body-vuelos{
                            .card-vuelos-titulo {
                                font-size: 15px;
                            }
                            .card-texto-vuelos {
                                font-size: 8px;
                            }
                            .vuelos__precio {
                                strong {
                                    font-size: 15px;
                                }
                            }
                            a {
                                font-size: 10px;
                                padding: 5px;
                            }
                        }
                    }
                }
            }
            .card-vuelos-contrario {
                margin-left: 0%;
                margin: 0 auto;
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 15px;
                    }
                    .vuelos__precio {
                        strong {
                            font-size: 15px;
                        }
                    }
                    .card-texto-vuelos {
                        font-size: 8px;
                    }
                    a {
                        font-size: 10px;
                        padding: 5px;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:581px) {
    main{
        .vuelos__h1 {
            font-size: 18px;
        }
        section{
            .card-vuelos{
                max-width: 100% !important;
                .row{
                    .col-md-8{
                        .card-body-vuelos{
                            .card-vuelos-titulo {
                                font-size: 12px;
                            }
                            .card-texto-vuelos {
                                font-size: 6px;
                                margin: 0%;
                            }
                            .vuelos__precio {
                                margin: 0%;
                                strong {
                                    font-size: 12px;
                                }
                            }
                            a {
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
            .card-vuelos-contrario {
                max-width: 100% !important;
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 12px;
                    }
                    .vuelos__precio {
                        margin: 0%;
                        strong {
                            font-size: 12px;
                        }
                    }
                    .card-texto-vuelos {
                        font-size: 6px;
                        margin: 0%;
                    }
                    a {
                        font-size: 8px;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:500px) {
    main{
        .vuelos__h1 {
            font-size: 15px;
        }
    }
}

@media screen and (max-width:473px) {
    main{
        .vuelos__h1 {
            font-size: 15px;
        }
        section{
            .card-vuelos{
                .row{
                    .col-md-8{
                        .card-body-vuelos{
                            .card-vuelos-titulo {
                                font-size: 10px;
                            }
                            .card-texto-vuelos {
                                font-size: 6px;
                            }
                            .vuelos__precio {
                                margin: 0%;
                                strong {
                                    font-size: 10px;
                                }
                            }
                            a {
                                font-size: 7px;
                            }
                        }
                    }
                }
            }
            .card-vuelos-contrario {
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 10px;
                    }
                    .vuelos__precio {
                        margin: 0%;
                        strong {
                            font-size: 10px;
                        }
                    }
                    .card-texto-vuelos {
                        font-size: 6px;
                    }
                    a {
                        font-size: 7px;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:411px) {
    main{
        .vuelos__h1 {
            font-size: 12px;
        }
        section{
            .card-vuelos{
                .row{
                    .col-md-8{
                        .card-body-vuelos{
                            .card-vuelos-titulo {
                                font-size: 8px;
                            }
                            .vuelos__precio {
                                margin: 0%;
                                strong {
                                    font-size: 8px;
                                }
                            }
                            .card-texto-vuelos {
                                font-size: 5px;
                            }
                            a {
                                font-size: 6px;
                                padding: 3px;
                            }
                        }
                    }
                }
            }
            .card-vuelos-contrario {
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 8px;
                    }
                    .vuelos__precio {
                        margin: 0%;
                        strong {
                            font-size: 8px;
                        }
                    }
                    .card-texto-vuelos {
                        font-size: 6px;
                    }
                    a {
                        font-size: 6px;
                        padding: 3px;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:344px) {
    main{
        .vuelos__h1 {
            font-size: 10px;
        }
        section{
            .card-vuelos{
                .row{
                    .col-md-8{
                        .card-body-vuelos{
                            .card-vuelos-titulo {
                                font-size: 7px;
                            }
                            .vuelos__precio {
                                margin: 0%;
                                strong {
                                    font-size: 7px;
                                }
                            }
                            a {
                                font-size: 5px;;
                            }
                        }
                    }
                }
            }
            .card-vuelos-contrario {
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 7px;
                    }
                    .vuelos__precio {
                        margin: 0%;
                        strong {
                            font-size: 7px;
                        }
                    }
                    a {
                        font-size: 5px;
                    }
                }
                
            }
        }
    }
}

@media screen and (max-width:313px) {
    main{
        section{
            .card-vuelos{
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 6px;
                    }
                }
            }
            .card-vuelos-contrario{
                .card-body-vuelos{
                    .card-vuelos-titulo {
                        font-size: 6px;
                    }
                }
            }
        }
    }
}
/*-------------ALOJAMIENTO------------*/

@media screen and (max-width:900px) {
    main{
        section{
            .alojamiento__h1 {
                font-size: 22px;
            }
        }
    }

}

@media screen and (max-width:760px) {
    main{
        section{
            .alojamiento__h1 {
                font-size: 20px;
            }
            .row{
                .col-lg-6{
                    .card-alojamiento{
                        .card-alojamiento-titulo {
                            font-size: 20px;
                        }
                        .alojamiento__texto {
                            font-size: 12px;
                        }
                        .alojamiento__precio {
                            font-size: 20px;
                            padding-bottom: 10px;
                        }
                        .card-body-alojamiento {
                            a {
                                font-size: 15px;
                            }
                        } 
                    }
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    main{
        section{
            .row{
                .col-lg-6{
                    .card-alojamiento{
                        .card-alojamiento-titulo {
                            font-size: 15px;
                        }
                        .alojamiento__texto {
                            font-size: 10px;
                        }
                        .alojamiento__precio {
                            font-size: 15px;
                            padding-bottom: 0px;
                        }
                        .card-body-alojamiento {
                            a {
                                font-size: 10px;
                            }
                        } 
                    }
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    main{
        section{
            .alojamiento__h1 {
                font-size: 15px;
            }
        }
    }
}
/*-------------EXCURSIONES------------*/

@media screen and (max-width:1620px) {
    main{
        section{
            .excursiones__boton-chile {
                left: 11.1%;
            }
            .excursiones__boton-japon {
                left: 76.7%;
            }
        }
    }
}

@media screen and (max-width:1490px) {
    main{
        section{
            .flex__conteiner{
                .grid__conteiner {
                    width: 90%;
                }
                .grid__conteiner-chile {
                    width: 90%;
                }
                .grid__conteiner-japon {
                    width: 90%;
                }
            }
            .excursiones__boton {
                width: 20%;
                left: 70.7%;
            }
            .excursiones__boton-chile {
                width: 18%;
                left: 8%;
                p {
                    font-size: 25px;
                }
            }
            .excursiones__boton-japon {
            width: 20%;
            left: 70.9%;
            }
        }
    }
}

@media screen and (max-width:1420px) {
    main{
        section{
            .excursiones__boton {
                left: 74.7%;
                bottom: 450px;
                height: 150px;
                p {
                    font-size: 25px;
                    a {
                        font-size: 18px;
                    }
                }
            }
            .excursiones__boton-chile {
                left: 5.1%;
                bottom: 450px;
                height: 150px;
                p {
                    font-size: 25px;
                    a {
                        font-size: 18px;
                    }
                }
            }
            .excursiones__boton-japon {
                left: 74.9%;
                bottom: 450px;
                height: 150px;
                p {
                    font-size: 25px;
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1260px) {
    main{
        section{
            .excursiones__boton-japon {
                left: 74.7%;
            }
            .excursiones__boton-chile {
                p {
                    font-size: 22px;
                }
            }
        }
    }
}

@media screen and (max-width:1170px) {
    main{
        .excursiones__h1 {
            font-size: 22px;
        }
        section{
            .flex__conteiner{
                .grid__conteiner{
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 20px;
                        }
                        .excursiones__texto {
                            font-size: 15px;
                        }
                    }
                }
                .grid__conteiner-chile {
                    margin-top: -80px;
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 20px;
                        }
                        .excursiones__texto {
                            font-size: 15px;
                        }
                    }
                }
                .grid__conteiner-japon {
                    margin-top: -80px;
                    .excursiones__bloque-texto-japon {
                        h2 {
                            font-size: 20px;
                        }
                        .excursiones__texto {
                            font-size: 15px;
                        }
                    }
                }
            }
            .excursiones__boton {
                height: 130px;
                bottom: 440px;
                p {
                    font-size: 22px;
                }
                a {
                    font-size: 15px;
                }
            }
            .excursiones__boton-chile {
                height: 130px;
                bottom: 440px;
                p {
                    font-size: 20px;
                    a {
                        font-size: 15px;
                    }
                }
            }
            .excursiones__boton-japon {
                height: 130px;
                bottom: 440px;
                p {
                    font-size: 22px;
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:1000px) {
    main{
        section{
            .excursiones__boton {
                height: 110px;
                bottom: 420px;
                left: 74.7%;
                p {
                    font-size: 20px;
                    a {
                        font-size: 12px;
                    }
                }
            }
            .excursiones__boton-chile {
                height: 110px;
                bottom: 420px;
                left: 5.5%;
                p {
                    font-size: 19px;
                    a {
                        font-size: 12px;
                    }
                }
            }
            .excursiones__boton-japon {
                height: 110px;
                bottom: 420px;
                left: 74.9%;
                p {
                    font-size: 20px;
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:930px) {
    main{
        .excursiones__h1 {
            font-size: 20px;
        }
        section{
            .flex__conteiner{
                .grid__conteiner{
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 17px;
                        }
                        .excursiones__texto {
                            font-size: 15px;
                        }
                    }
                }
                .grid__conteiner-chile{
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 17px;
                        }
                        .excursiones__texto {
                            font-size: 15px;
                        }
                    }
                }
                .grid__conteiner-japon{
                    .excursiones__bloque-texto-japon {
                        h2 {
                            font-size: 15px;
                        }
                        .excursiones__texto {
                            font-size: 15px;
                        }
                    } 
                }
            }
            .excursiones__boton {
                p {
                    font-size: 18px;
                    a {
                        font-size: 10px;
                    }
                }
            }
            .excursiones__boton-chile {
                p {
                    font-size: 16px;
                    a {
                        font-size: 10px;
                    }
                }
            }
            .excursiones__boton-japon {
                p {
                    font-size: 18px;
                    a {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:830px) {
    main{
        .excursiones__h1 {
            font-size: 17px;
        }
        section{
            .flex__conteiner{
                .grid__conteiner {
                    grid-template-columns: 1fr;
                    grid-template-rows: 290px 500px 500px 500px 350px;
                    .excursiones__img__buenosaires-dos {
                        grid-column: 1;
                        grid-row: 2;
                    }
                    .excursiones__img__buenosaires-tres {
                        grid-column: 1;
                        grid-row: 3;
                    }
                    .excursiones__img__buenosaires-cuatro {
                        grid-column: 1;
                        grid-row: 4;
                        .excursiones__bandera-argentina {
                            object-fit: cover;
                        }
                    }
                    .excursiones__bloque-texto {
                        grid-column: 1;
                        grid-row: 5;
                        .excursiones__texto {
                            font-size: 13px;
                        }
                    }
                }
                .grid__conteiner-chile {
                    margin-top: 0%;
                    grid-template-columns: 1fr;
                    grid-template-rows: 290px 500px 500px 550px 380px;
                    .excursiones__img__chile-uno {
                        grid-column: 1;
                        grid-row: 1;
                    }
                    .excursiones__img__chile-dos {
                        grid-column: 1;
                        grid-row: 2;
                    }
                    .excursiones__img__chile-tres {
                        grid-column: 1;
                        grid-row: 3;
                    }
                    .excursiones__img__chile-cuatro {
                        grid-column: 1;
                        grid-row: 4;
                    }
                    .excursiones__bloque-texto {
                        grid-column: 1;
                        grid-row: 5;
                        .excursiones__texto {
                            font-size: 13px;
                        }
                    }
                }
                .grid__conteiner-japon {
                    margin-top: 0%;
                    grid-template-columns: 1fr;
                    grid-template-rows: 800px 500px 500px;
                    .excursiones__img__japon-uno {
                        grid-column: 1;
                        grid-row: 1;
                    }
                    .excursiones__img__japon-dos {
                        grid-column: 1;
                        grid-row: 2;
                    }
                    .excursiones__img__japon-tres {
                        grid-column: 1;
                        grid-row: 3;
                    }
                    .excursiones__bloque-texto-japon {
                        grid-column: 1;
                        grid-row: 4;
                    }
                }
            }
            .excursiones__boton {
                height: 110px;
                background-color: #3E4346;
                position: initial;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
                p {
                    font-size: 15px;
                    a {
                        padding: 5px;
                    }
                }
            }
            .excursiones__boton-chile {
                height: 110px;
                background-color: #3E4346;
                position: initial;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
                p {
                    font-size: 15px;
                    a {
                        padding: 5px;
                    }
                }
            }
            .excursiones__boton-japon {
                height: 110px;
                background-color: #3E4346;
                position: initial;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 20px;
                p {
                    font-size: 15px;
                    a {
                        padding: 5px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:730px) {
    main{
        section{
            .flex__conteiner{
                .grid__conteiner{
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 13px;
                        }
                        .excursiones__texto {
                            font-size: 12px;
                        }
                    }
                }
                .grid__conteiner-chile{
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 13px;
                        }
                        .excursiones__texto {
                            font-size: 12px;
                        }
                    }
                }
                .grid__conteiner-japon{
                    .excursiones__bloque-texto-japon{
                        .excursiones__texto {
                            font-size: 12px;
                        }
                    }
                }
            }
            .excursiones__boton {
                height: 80px;
                p {
                    font-size: 13px;
                    a {
                        font-size: 8px;
                    }
                }
            }
            .excursiones__boton-chile {
                height: 80px;
                p {
                    font-size: 13px;
                    a {
                        font-size: 8px;
                    }
                }
            }
            .excursiones__boton-japon {
                height: 80px;
                p {
                    font-size: 13px;
                    a {
                        font-size: 8px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:648px) {
    main{
        .excursiones__h1 {
            font-size: 15px;
        }
        section{
            .excursiones__boton {
                height: 70px;
                p {
                    font-size: 10px;
                    margin-bottom: 5px;
                }
            }
            .excursiones__boton-chile {
                height: 70px;
                p {
                    font-size: 10px;
                    margin-bottom: 5px;
                }
            }
            .excursiones__boton-japon {
                height: 70px;
                p {
                    font-size: 10px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media screen and (max-width:570px) {
    main{
        section{
            .flex__conteiner{
                .grid__conteiner{
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 13px;
                        }
                        .excursiones__texto {
                            font-size: 10px;
                        }
                    }
                }
                .grid__conteiner-chile{
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 13px;
                        }
                        .excursiones__texto {
                            font-size: 10px;
                        }
                    }
                }
                .grid__conteiner-japon{
                    .excursiones__bloque-texto-japon {
                        h2 {
                            font-size: 13px;
                        }
                        .excursiones__texto {
                            font-size: 10px;
                        }
                    }
                }
            }
            .excursiones__boton {
                width: 25%;
            }
            .excursiones__boton-chile {
                width: 25%;
            }
        
            .excursiones__boton-japon {
                width: 25%;
            }
        }
    }
}

@media screen and (max-width:460px) {
    main{
        section{
            .flex__conteiner{
                .grid__conteiner{
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 12px;
                        }
                        .excursiones__texto {
                            font-size: 8px;
                        }
                    } 
                }
                .grid__conteiner-chile{
                    .excursiones__bloque-texto {
                        h2 {
                            font-size: 12px;
                        }
                        .excursiones__texto {
                            font-size: 8px;
                        }
                    }
                }
                .grid__conteiner-japon{
                    .excursiones__bloque-texto-japon {
                        .excursiones__texto {
                            font-size: 8px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:370px) {
    main{
        section{
            .flex__conteiner{
                .grid__conteiner{
                    .excursiones__bloque-texto {
                        .excursiones__texto {
                            font-size: 7px;
                        }
                    } 
                }
                .grid__conteiner-chile{
                    .excursiones__bloque-texto {
                        .excursiones__texto {
                            font-size: 7px;
                        }
                    }
                }
                .grid__conteiner-japon{
                    .excursiones__bloque-texto-japon {
                        .excursiones__texto {
                            font-size: 7px;
                        }
                    }
                }
            }
        }
    }
}
/*----------SOBRE NOSOTROS---------*/

@media screen and (max-width:1296px) {
    main{
        .sobrenosotros{
            .h1__sobrenosotros {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width:1155px) {
    main{
        section{
            .form-sobrenosotros{
                form{
                    .form-text-sobrenosotros {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:960px) {
    main{
        .sobrenosotros {
            height: 60vh;
            .h1__sobrenosotros {
                font-size: 20px;
            }
            .div__sobrenosotros{
                .p__sobrenosotros {
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width:907px) {
    main{
        section{
            .form-sobrenosotros{
                    .form-text-sobrenosotros {
                    font-size: 9px;
                }
            }
        }
    }
}

@media screen and (max-width:650px) {
    main{
        .sobrenosotros{
            .h1__sobrenosotros {
                font-size: 15px;
            }
            .div__sobrenosotros{
                .p__sobrenosotros {
                    font-size: 12px;
                }
            }
        }
        section{
            .form-sobrenosotros {
                width: 45%;
                .form-label-sobrenosotros {
                    font-size: 12px;
                }
                .form-check-label-sobrenosotros {
                    font-size: 12px;
                }
                .boton-color-sobrenosotros {
                    font-size: 12px;
                }
            }
            form{
                .form-text-sobrenosotros {
                    font-size: 7px;
                }
            }
        }
    }
}

@media screen and (max-width:540px) {
    main{
        .sobrenosotros{
            .h1__sobrenosotros {
                font-size: 12px;
            }
            .div__sobrenosotros{
                .p__sobrenosotros {
                    font-size: 10px;
                }
            }
        }
        section{
            .form-sobrenosotros {
                .form-label-sobrenosotros {
                    font-size: 10px;
                }
                .form-check-label-sobrenosotros {
                    font-size: 10px;
                }
                .boton-color-sobrenosotros {
                    font-size: 10px;
                }
            }
        }
    }
}

@media screen and (max-width:412px) {
    main{
        section{
            .form-sobrenosotros {
                .form-label-sobrenosotros {
                    font-size: 9px;
                }
                .form-check-label-sobrenosotros {
                    font-size: 9px;
                }
                .boton-color-sobrenosotros {
                    font-size: 9px;
                }
                form{
                    .form-text-sobrenosotros {
                        font-size: 7px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:393px) {
    main{
        .sobrenosotros{
            .h1__sobrenosotros {
                font-size: 10px;
            }
            .div__sobrenosotros{
                .p__sobrenosotros {
                    font-size: 8px;
                }
            }
        }
        section{
            .form-sobrenosotros {
                .form-label-sobrenosotros {
                    font-size: 8px;
                }
                .form-check-label-sobrenosotros {
                    font-size: 8px;
                }
                .boton-color-sobrenosotros {
                    font-size: 8px;
                }
                form{
                    .form-text-sobrenosotros {
                        font-size: 6px;
                    }
                }
            }
        }
    }
}
/*--------------FOOTER-----------*/
@media screen and (max-width:507px) {
    footer{
        a{
            .logo__avion {
                width: 100px;
                height: 100px;
            }
        }
        div{
            .facebook {
                width: 42px;
                height: 42px;
            }
        
            .twitter {
                width: 42px;
                height: 42px;
            }
        
            .instagram {
                width: 42px;
                height: 42px;
            }
        }
    }
}